extends ../_layout/base
include ../_components/link-copy

block variables
	- const component = data.components.list.find(({id}) => id === current)
	- titlePage = component.name
	- isFull = true

block main
	section.module.module-title-text.module--half
		.container
			h1.heading-1= component.id
			h2.heading-2
				img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
				= component.name

			if component.description
				.rte!= markdown(component.description)

	section.module.module-links.module--half
		.container
			h3.heading-3
				img(src="/atlas/assets/images/shapes/blue.svg" width="24" height="24")
				| Info
			.module-links__row
				if component.url && Object.values(component.url).length > 0 && Object.values(component.url).some(url => url.length > 0)
					.module-links__column
						h4.heading-4 Links

						if component.url.design
							+link-copy(component.url.design, "Design")
						if component.url.designLibrary
							+link-copy(component.url.designLibrary, "Design Library")
						if component.url.prototypeDesktop
							+link-copy(component.url.prototypeDesktop, "Desktop Prototype")
						if component.url.prototypeMobile
							+link-copy(component.url.prototypeMobile, "Mobile Prototype")
						if component.url.task
							+link-copy(component.url.task, "Task")
				.module-links__column
					h4.heading-4 Status
						case component.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'
					span.icon(class=emoji)
						+symbol(emoji)
						= component.status
				.module-links__column
					h4.heading-4 External Link
					+link-copy(join('/atlas', data.components.path, component.id + '.html'), "External")

	section.module.module-detail-info.module--half
		.container
			if component.code || component.data || component.notes
				if component.code
					h3.heading-3
						img(src="/atlas/assets/images/shapes/purple.svg" width="24" height="24")
						| Code

					pre
						code= component.code

				if component.data
					h3.heading-3
						img(src="/atlas/assets/images/shapes/yellow.svg" width="24" height="24")
						| Data

					table.data-table
						thead
							tr
								th Name
								th Type
								th Description

						tbody
							each item in component.data
								if typeof item.type === 'string'
									- item.type = [item.type]

								tr
									th(class=(item.required === true ? 'required' : null))= item.name
									td
										each typeName, index in item.type
											if typeName.includes('/')
												- [type, id] = typeName.split('/')

												if typeof data[type] === 'undefined'
													- throw new Error(`Unrecognized namespace '${type}' for the data type '${typeName}'.`);

												- object = data[type].list.find(item => item.id === id)

												if typeof object === 'undefined'
													- throw new Error(`Unrecognized ${type.endsWith('s') ? type.slice(0, -1) : type} ID for the data type '${typeName}'.`);

												a(href=`../${type}/${id}.html`)= object.name
											else
												= typeName

											if index < item.type.length - 1
												| ,
												|
									td: .rte!= markdown(item.description)

				if component.notes
					h3.heading-3
						img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
						| Additional Notes

					.rte!= markdown(component.notes)

			else
				em No information to show.

	section.module.module-iframe.module--half
		.container
			iframe(width='800', height='1000', src=join('/atlas', data.components.path, component.id + '.html'))
