extends ../_layout/base
include ../_components/link-copy

block variables
	- const module = data.modules.list.find(({id}) => id === current)
	- titlePage = module.name
	- isFull = true

block main
	section.module.module-title-text.module--half
		.container
			h1.heading-1= module.id
			h2.heading-2
				img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
				= module.name

			if module.description
				.rte!= markdown(module.description)

	section.module.module-links.module--half
		.container
			h3.heading-3
				img(src="/atlas/assets/images/shapes/blue.svg" width="24" height="24")
				| Info
			.module-links__row
				if module.url && Object.values(module.url).length > 0 && Object.values(module.url).some(url => url.length > 0)
					.module-links__column
						h4.heading-4 Links

						if module.url.design
							+link-copy(module.url.design, "Design")
						if module.url.designLibrary
							+link-copy(module.url.designLibrary, "Design Library")
						if module.url.prototypeDesktop
							+link-copy(module.url.prototypeDesktop, "Desktop Prototype")
						if module.url.prototypeMobile
							+link-copy(module.url.prototypeMobile, "Mobile Prototype")
						if module.url.task
							+link-copy(module.url.task, "Task")
				.module-links__column
					h4.heading-4 Status
						case module.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'
					span.icon(class=emoji)
						+symbol(emoji)
						= module.status
				.module-links__column
					h4.heading-4 External Link
					+link-copy(join('/atlas', data.modules.path, module.id + '.html'), "External")

	section.module.module-detail-info.module--half
		.container
			if module.components || module.code || module.data || module.notes
				if module.components
					h3.heading-3
						img(src="/atlas/assets/images/shapes/orange.svg" width="24" height="24")
						| Components

					ul
						each id of module.components
							- const component = data.components.list.find(component => component.id === id)

							if component
								li
									a(href=`/atlas/components/${id}.html`)= component.name

				if module.code
					h3.heading-3
						img(src="/atlas/assets/images/shapes/purple.svg" width="24" height="24")
						| Code

					pre
						code= module.code

				if module.data
					h3.heading-3
						img(src="/atlas/assets/images/shapes/yellow.svg" width="24" height="24")
						| Data

					table.data-table
						thead
							tr
								th Name
								th Type
								th Description

						tbody
							each item in module.data
								if typeof item.type === 'string'
									- item.type = [item.type]

								tr
									th(class=(item.required === true ? 'required' : null))= item.name
									td
										each typeName, index in item.type
											if typeName.includes('/')
												- [type, id] = typeName.split('/')

												if typeof data[type] === 'undefined'
													- throw new Error(`Unrecognized namespace '${type}' for the data type '${typeName}'.`);

												- object = data[type].list.find(item => item.id === id)

												if typeof object === 'undefined'
													- throw new Error(`Unrecognized ${type.endsWith('s') ? type.slice(0, -1) : type} ID for the data type '${typeName}'.`);

												a(href=`../${type}/${id}.html`)= object.name
											else
												= typeName

											if index < item.type.length - 1
												| ,
												|
									td: .rte!= markdown(item.description)

				if module.notes
					h3.heading-3
						img(src="/atlas/assets/images/shapes/green.svg" width="24" height="24")
						| Additional Notes

					.rte!= markdown(module.notes)

			else
				em No information to show.

	section.module.module-iframe.module--half
		.container
			iframe(width='800', height='1000', src=join('/atlas', data.modules.path, module.id + '.html'))
