extends ../_layout/base
include ../_components/link-copy

block variables
	- const template = data.templates.list.find(({id}) => id === current)
	- titlePage = template.name
	- isFull = true

block main
	section.module.module-title-text.module--half
		.container
			h1.heading-1= template.id
			h2.heading-2
				img(src="/design-guide/assets/images/shapes/green.svg" width="24" height="24")
				= template.name
			.rte
				p= template.description

	section.module.module-links.module--half
		.container
			h3.heading-3
				img(src="/design-guide/assets/images/shapes/blue.svg" width="24" height="24")
				| Info
			.module-links__row
				if template.url && Object.values(template.url).length > 0 && Object.values(template.url).some(url => url.length > 0)
					.module-links__column
						h4.heading-4 Links

						if template.url.design
							+link-copy(template.url.design, "Design")
						if template.url.prototypeDesktop
							+link-copy(template.url.prototypeDesktop, "Desktop Prototype")
						if template.url.prototypeMobile
							+link-copy(template.url.prototypeMobile, "Mobile Prototype")
						if template.url.task
							+link-copy(template.url.task, "Task")
				.module-links__column
					h4.heading-4 Status
						case template.status
							when 'done'
								- emoji = 'icon-emoji-satisfied'
							when 'wip'
								- emoji = 'icon-emoji-sad'
							default
								- emoji = 'icon-emoji-sad'
					span.icon(class=emoji)
						+symbol(emoji)
						= template.status
				.module-links__column
					h4.heading-4 External Link
					+link-copy(join('/design-guide', data.templates.path, template.id + '.html'), "External")

	section.module.module-detail-info.module--half
		.container
			h3.heading-3
				img(src="/design-guide/assets/images/shapes/orange.svg" width="24" height="24")
				| Modules

			if template.modules
				ul
					each id of template.modules
						- const component = data.modules.list.find(component => component.id === id)

						if component
							li
								a(href=`/design-guide/modules/${id}.html`)= component.name
			else
				em No information to show.

	section.module.module-detail-info.module--half
		.container
			h3.heading-3
				img(src="/design-guide/assets/images/shapes/yellow.svg" width="24" height="24")
				| Additional Notes

			div
				if template.notes
					= template.notes
				else
					em No information to show.

	section.module.module-iframe
		.container
			iframe(width='800', height='1000', src=join('/design-guide', data.templates.path, template.id + '.html'))
