extends ../_layout/base
include ../_abstracts/mixins/symbol

block variables
	- titlePage = 'Tokens - Typography'

block append styles
	link(href="/styles/typography.css" rel="stylesheet")


block main
	section.module.module-title-text
		.container
			h1.heading-1= data.name
			h2.heading-2
				img(src="../../assets/images/shapes/green.svg" width="24" height="24")
				| Typography
			.rte
				p List of text styles used in this project.

	section.module.module-typography
		.container
			-
				const styles = [];
				for (const style of data.tokens.typography) {
					const {fontFamily} = style;
					if (typeof styles.find(style => style.name === fontFamily) === 'undefined') {
						styles.push({
							name: fontFamily,
							list: [],
						});
					}
					const styleIndex = styles.findIndex(style => style.name === fontFamily);
					styles[styleIndex].list.push(style);
				}

			each fontStyle in styles
				h3.heading-3
					img(src="../../assets/images/shapes/yellow.svg" width="24" height="24")
					= fontStyle.name

				h3.heading-4
					img(src="../../assets/images/shapes/blue.svg" width="24" height="24")
					| Desktop
				div.module-typography__overflow
					table
						thead
							tr
								th Font Family
								th Font Size
								th Line Height
								th Letter Spacing
								th Font Weight
								th Style
								th
						tbody
							each list in fontStyle.list
								tr
									td
										span= list.fontFamily
									td
										span= list.fontSize.desktop
									td
										span= list.lineHeight.desktop
									td
										span= list.letterSpacing.desktop
									td
										span= list.fontWeight
									td
										span(style='font: ' + list.fontWeight + ' ' + list.fontSize.desktop + ' / ' + list.lineHeight.desktop + ' ' + list.fontFamily + '')= list.type
									td
										button.link-copy__button.js-styleCopy(data-style='font: ' + list.fontWeight + ' ' + list.fontSize.desktop + ' / ' + list.lineHeight.desktop + ' ' + list.fontFamily + '')
											span.icon.icon-link
												+symbol('icon-copy')
				h3.heading-4
					img(src="../../assets/images/shapes/blue.svg" width="24" height="24")
					| Mobile
				div.module-typography__overflow
					table
						thead
							tr
								th Font Family
								th Font Size
								th Line Height
								th Letter Spacing
								th Font Weight
								th Style
						tbody
							each list in fontStyle.list
								tr
									td
										span= list.fontFamily
									td
										span= list.fontSize.mobile
									td
										span= list.lineHeight.mobile
									td
										span= list.letterSpacing.mobile
									td
										span= list.fontWeight
									td
										span(style='font: ' + list.fontWeight + ' ' + list.fontSize.mobile + ' / ' + list.lineHeight.mobile + ' ' + list.fontFamily + '')= list.type
									td
										button.link-copy__button.js-styleCopy(data-style='font: ' + list.fontWeight + ' ' + list.fontSize.mobile + ' / ' + list.lineHeight.mobile + ' ' + list.fontFamily + '')
											span.icon.icon-link
												+symbol('icon-copy')
				hr
