include ../_abstracts/mixins/symbol

mixin sidebar
	header.sidebar.js-slidebar
		button.sidebar__hamburger.js-btnBurger(type="button")
			span.sidebar__hamburger-box
				span.sidebar__hamburger-inner

		a.sidebar__logo-link(href="/")
			img.sidebar__logo(src="../assets/images/logo-wycreative.png" alt="Logo Client")

		//-label.sidebar__search(for="search")
			input.sidebar__search-input(type="text" placeholder="Search")

		nav
			ul.sidebar__menu
				li.sidebar__list-item
					a.sidebar__page-name(href="/")
						span.sidebar__page-name-wrapper-icon
							span.icon.icon-chevron
								+symbol('icon-list')
							| Overview

				if data.tokens
					li.sidebar__list-item
						a.sidebar__page-name(href="/tokens")
							span.sidebar__page-name-wrapper-icon
								span.icon.icon-chevron
									+symbol('icon-font')
								| Tokens
						button.sidebar__dropdown-button.js-toggleSubMenu(data-id="tokens")
							span.icon.icon-chevron
								+symbol('icon-chevron')
						ul.sidebar__submenu
							-
								const tokenTypes = [
									'colors',
									'sizes',
									'typography',
									'icons',
								]

							each tokenType in tokenTypes
								if data.tokens[tokenType]
									li
										a(href=`/tokens/${tokenType}.html`)= tokenType.replace(/(?:^|\s)\S/g, match => match.toUpperCase())

				-
					const objectTypes = [
						{
							icon: 'box',
							name: 'components'
						},
						{
							icon: 'view',
							name: 'modules'
						},
						{
							icon: 'box',
							name: 'templates'
						},
					]

				each objectType in objectTypes
					li.sidebar__list-item
						a.sidebar__page-name(href=`/${objectType.name}`)
							span.sidebar__page-name-wrapper-icon
								span.icon.icon-chevron
									+symbol(`icon-${objectType.icon}`)
								= objectType.name.replace(/(?:^|\s)\S/g, match => match.toUpperCase())

						button.sidebar__dropdown-button.js-toggleSubMenu(data-id=objectType.name)
							span.icon.icon-chevron
								+symbol('icon-chevron')

						ul.sidebar__submenu
							each object in data[objectType.name].list
								li
									a(href=`/${objectType.name}/${object.id}.html`)= object.name


		a.sidebar__logo-wycreative(href="https://wycreative.com/" target="_blank")
			img(src="../assets/images/logo-wycreative.png" alt="Logo WYcreative")
